<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

      <h2>Create account on social media App! </h2>
      <hr>
        <form action="/createUser" method="post">
       <label>Username:</label>
       <input type="text" name="username" /> <br> <br>
       <label>Email:</label>
       <input type="email" name="email" /> <br> <br>
       <label>Password:</label>
       <input type="password" name="password" /> <br> <br>
       <label>DOB : </label>
       <input type="date" name="dob" /> <br> <br>
       <label>Gender:</label>
       <input type="radio" name="gender" value="Male"/>Male
        <input type="radio" name="gender" value="Female"/> Female
         <input type="radio" name="gender" value="other"/> other
         <br> <br>
       <input type="submit" value="SignUp"  />
       <hr>
       <label>Already have an account!</label><a href="index">Login Instead</a>
       </form>
       <hr>
       <span th:if="${message}">
       <span th:text="${message}"></span>
       </span>
</body>
</html>